[defaults]
remote_tmp = /tmp/.ansible/tmp
local_tmp = /tmp/.ansible/tmp
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
deprecation_warnings = false
callback_whitelist = profile_tasks, timer
collections_path = /home/terng/work/personal/wiphoo_ansible_frp/collections
allow_broken_conditionals = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = true
