[defaults]
remote_tmp = /tmp/.ansible/tmp
local_tmp = /tmp/.ansible/tmp
deprecation_warnings = false
# callbacks_enabled = profile_tasks, timer  # These plugins are not available in current collections
collections_path = ./collections
allow_broken_conditionals = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = true
