[defaults]
roles_path = ../../roles:../../../:./
collections_path = ../../collections
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
interpreter_python = auto_silent
allow_broken_conditionals = True
remote_tmp = /tmp/.ansible/tmp
# Disable ansible_managed deprecation warning by setting the variable
ansible_managed = Ansible managed

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = True
